* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("img/fundo_oportune.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #023d37;
    font-size: 24px;
}

.login-container p {
    margin-bottom: 20px;
    color: #555;
    font-size: 16px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #15cebb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}